@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #141414;
    --foreground: #ededed;
    --foregroundhover: #cacaca;
  }
}

@layer base {
  .text-foregroundhover:hover {
    color: var(--foregroundhover);
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.navbar {
  background-color: #232323;
  box-shadow: 5px 2px 2px #232323;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.custom-btn {
  border: 2px solid rgb(91, 91, 91);
  padding: 12px 20px;
  border-radius: 8px;
  background-color: #202020;
  transition: 0.4s ease;
}

.custom-btn:hover {
  background-color: #343434;
  border-color: #1f1f1f;
}

.custom-loader {
  display: none;
  position: fixed;
  left: 50vw;
  translate: -50%;
  bottom: 50px;
  width: 60px;
  aspect-ratio: 2;
  --_g: no-repeat radial-gradient(circle closest-side, #f4f4f4 90%, #0000);
  background: var(--_g) 0% 50%, var(--_g) 50% 50%, var(--_g) 100% 50%;
  background-size: calc(100% / 3) 50%;
  animation: l3 1s infinite linear;
}
.custom-loader.green {
  --_g: no-repeat radial-gradient(circle closest-side, green 90%, #0000);
}
.custom-loader.red {
  --_g: no-repeat radial-gradient(circle closest-side, red 90%, #0000);
}
@keyframes l3 {
  20% {
    background-position: 0% 0%, 50% 50%, 100% 50%;
  }
  40% {
    background-position: 0% 100%, 50% 0%, 100% 50%;
  }
  60% {
    background-position: 0% 50%, 50% 100%, 100% 0%;
  }
  80% {
    background-position: 0% 50%, 50% 50%, 100% 100%;
  }
}
